body {
    background-color: #ff9922;
    margin: 0;
}

p,
h1 {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Indie Flower', cursive;
}

.subtitle {
    font-family: 'PT Serif', serif;
    margin: 0;
}

.small-text-home {
    font-family: 'Roboto', sans-serif;
}

#content {
    transition: all 0.5s;
    margin: 25px 175px;
    padding: 50px 25px;
    background-color: white;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

button {
    border: 2px solid #ff9922;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 5px;

    font-family: 'Roboto', sans-serif;

    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
}

button:hover {
    background-color: #ff9922;
    color: white;
}

.current-button {
    border-color: #ff9922;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

/* Nav Bar */
#tab {
    max-width: 100%;
    position: fixed;
    top: 0;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    background-color: #EE8000;

    padding: 5px 0;

    z-index: 99;
}


/* Home Content */
#home-content,
#contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Menu Stuff */
#menu-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 450px));
    grid-auto-rows: 500px;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    padding-bottom: 25px;
}

.food-image {
    height: 400px;
    width: 100%;
    object-fit: cover;

    border-radius: 5.5% 5.5% 0 0;
}

.food-item {
    height: 450px;
    width: 450px;
    background-color: white;
    border: 1px black solid;
    position: relative;

    transition: all 0.5s;

    font-size: 1.5rem;

    border-radius: 5%;
}

.food-item:hover {
    transform: scale(1.1) translate(0, -10px);
}

.food-name {
    position: absolute;
    bottom: 1px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#content>* {
    transition: all 0.5s;
}

/* Contact Styling */
#contact-content {
    gap: 25px;
}

.contact-item {
    width: 80%;
    border: black 5px solid;
    padding: 0 10px;

    position: relative;

    background-color: #2288FF;
    color: white;

    transition: all 0.5s;
}

.contact-item:hover {
    width: 90%;
}

.contact-title {
    margin-top: 0.5em;
    font-size: 2rem;
    text-align: left;

    font-family: 'Oswald', sans-serif;
}

.contact-text {
    font-size: 1.1rem;
    font-family: 'PT Serif', serif;
}

.contact-number {
    margin-bottom: 0.5em;
    font-size: 1.5rem;
    text-align: right;

    font-family: 'PT Serif', serif;
}

.contact-image {
    border-radius: 50%;
    height: 100px;
    width: 100px;

    position: absolute;
    top: -25px;
    right: -15px;

    object-fit: cover;
}


/* Media */
@media (max-width: 1250px) {
    #content {
        margin: 25px;
    }
}

@media (max-width: 1050px) {
    .goku-eating {
        width: 700px;
    }
}

@media (max-width: 780px) {
    .goku-eating {
        width: 550px;
    }

    .food-item {
        height: 400px;
        width: 400px;
        color: white;
        -webkit-text-stroke: 0.5px black;
    }

    .food-image {
        border-radius: 5.5%;
    }
}

@media (max-width: 620px) {
    .goku-eating {
        width: 350px;
    }

    .food-item {
        height: 300px;
        width: 300px;
        color: white;
        -webkit-text-stroke: 0.5px black;
    }

    #menu-content {
        grid-auto-rows: 400px;
    }

    .food-image {
        height: 300px;
    }
}

@media (max-width: 420px) {
    .goku-eating {
        width: 275px;
    }
}